#root {
    height: 100vh;
}

.box {
    display: flex;
    flex-flow: column;
}

.box .header {
    flex: 0 1 auto
}

.box .content {
    flex: 1 1 auto;
    overflow: hidden;
}

.vertical-middle {
    vertical-align: middle;
}

.fill {
    width: 100%;
    height: 100%;
}

.fill-height {
    height: 100%;
}

.fill-width {
    width: 100%;
}

.status {
    width: 5rem;
    height: 5rem;
}

h1, h2, h3, p {
    color: #1A1D24;
}

.navbar {
    background-color: #E6694C;
}

.navbar-dark {
    color: #FF8D80;
}

.btn-secondary {
    border-color: #E6694C;
    background-color: #E6694C;
}

.btn-secondary:hover, .btn-secondary:focus {
    color: #E6694C;
    border-color: #F9C8B0;
    background-color: #F9C8B0;
}

.text-secondary {
    color: #E6694C !important;
}

.card {
    border-color: #FF8D80;
}

.card-header {
    background-color: #F9C8B0;
}

.card-header p {
    color: #cf5f44;
}

.form-check-input:checked {
    background-color: #E6694C;
    border-color: #E6694C;
}

.notifications {
    right: 1rem;
    bottom: 1rem;
}